@font-face {
  font-family: 'Gandhi Sans';
  font-weight: 400;
  src: local('Gandhi Sans'), local('GandhiSans-Regular'),
  url('fonts/GandhiSans-Regular.otf') format('opentype');
} 
@font-face {
  font-family: 'Gandhi Sans';
  font-weight: 600;
  src: local('Open Sans Light'), local('GandhiSans-Bold'),
  url('fonts/GandhiSans-Bold.ttf') format('opentype');
} 
@font-face {
  font-family: 'TrajanPro';
  font-weight: 400;
  src: local('Gandhi Sans'), local('TrajanPro-Regular'),
  url('fonts/TrajanPro-Regular.otf') format('opentype');
} 
@font-face {
  font-family: 'TrajanPro';
  font-weight: 600;
  src: local('Gandhi Sans'), local('TrajanPro-Bold'),
  url('fonts/TrajanPro-Bold.otf') format('opentype');
} 